body{
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #00bdff, #aafffa);
}

div{
    border: 2px solid #8392ff;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 10px 12px #8aa4dd;
}

#principal{
    width: 50px;
    float: left;
    border-radius: 50%;
}

div.especial h3 {
    font-family: 'Crimson Text', serif;
    text-shadow: 10px 5px #999;
}